<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="roll-by-time-and-size" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.dir}/logs/exchange_service.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>
                ${user.dir}/logs/exchange_service_%d{yyyy-MM-dd}/%d{yyyy-MM-dd-HH}.%i.log.zip
            </fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %p %m%n</pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="roll-by-time-and-size" />
    </root>
</configuration>